.css-13cymwt-control:hover{
    border-color: #f99a1c;
    box-shadow: 0 0 0 1px #f99a1c;
}
.css-13cymwt-control:focus{
    border-color: #f99a1c;
    box-shadow: 0 0 0 1px #f99a1c;
}

.react-select {
    color: red;
  }

  body {
    font-family: var(--font-inter), sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-inter), sans-serif;
  }